version: '3.3'
services:

  mysql:
    image: 'mysql:5.7'
    ports:
      - "3306:3306"
    volumes:
      - .:/opt
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=app
      - MYSQL_USER=dev
      - MYSQL_PASSWORD=password

  nginx:
    build:
      dockerfile: ./docker/nginx/Dockerfile
      context: ./
    ports:
      - "80"
    links:
      - api

  api: &api
    build:
      dockerfile: ./docker/api/Dockerfile
      context: ./
    volumes:
      - .:/opt
    environment:
      - DATABASE_URL=mysql://dev:password@mysql:3306/app?serverVersion=5.7
    links:
      - mysql

  test:
    build:
      dockerfile: ./docker/api/Dockerfile
      context: ./
    volumes:
      - .:/opt
    environment:
      - DATABASE_URL=mysql://dev:password@mysql:3306/app?serverVersion=5.7
    links:
      - mysql

  migrate:
    <<: *api
    restart: on-failure
    command: /opt/bin/migrate


