version: 2
jobs:
  build:
    working_directory: ~/statistico-auth
    machine:
      image: ubuntu-1604:201903-01

    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo add-apt-repository ppa:ondrej/php
            sudo apt-get update
            sudo apt-get install php7.3 php7.3-xml
            curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer

      - run:
          name: Build Release Image
          command: |
            composer install --ignore-platform-reqs --no-dev --optimize-autoloader
            docker-compose -f docker-compose.yml up -d --build

      - run:
          name: Test Release Image
          command: |
            composer install --ignore-platform-reqs
            docker-compose -f docker-compose.build.yml run web docker/wait-for-it.sh mysql:3306 -t 90
            docker-compose -f docker-compose.build.yml run web vendor/bin/phpcs --runtime-set ignore_warnings_on_exit true --standard=PSR2 src/
            docker-compose -f docker-compose.build.yml run --rm test bash /opt/bin/test
